numpy
matplotlib
pandas
scipy
jupyterlab
jupyterlab-git
nb_black
nbstripout
torchsummary
ray[tune]
carbontracker
jupyterlab_execute_time
seaborn
scikit-learn
scikit-image
torch-lr-finder

# PyTorch
--find-links https://download.pytorch.org/whl/torch_stable.html
torch==1.9.0+cu111
torchvision==0.10.0+cu111
torchaudio==0.9.0
