numpy
matplotlib
pandas
scipy
jupyterlab
jupyterlab-git
nb_black
nbstripout
torchsummary
ray[tune]
carbontracker

# PyTorch
--find-links https://download.pytorch.org/whl/lts/1.8/torch_lts.html
torch==1.8.2+cu111
torchvision==0.9.2+cu111
torchaudio==0.8.2
